{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome to TaskPlanner</h1>
<p><strong>TaskPlanner is a task management application allowing a manager to follow and manage the work of his collaborators.
</strong></p>
<h1>Advantage of Taskplanner</h1>
    <h2>Boosts Productivity</h2>
        <p>One of the most significant task management advantages is that it dramatically increases your productivity when used correctly. It removes the need to balance time taking tasks and allows you to easily prioritize your task list for increased task completion.

            By creating a visualized priority list, you can complete the most critical tasks first and increase the productivity of your entire team. 
            
        <h2>High-Efficiency Rate</h2> 
            <p>With productivity growth, efficiency will skyrocket as well. More efficiency will bring better opportunities for people who have a hard time being efficient in completing their tasks. This also creates opportunities to analyze the dead zones in your workflow and optimize them for maximum efficiency.</p>

        <H        
{% endblock %}