{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome to TaskPlanner</h1>
<p><strong>TaskPlanner est une application de gestion de tâches permettant à un manager de suivre et gérer le travail de ses collaborateurs.
</strong></p>
<P>Lorem ipsum dolor sit amet, consectet<p>
{% endblock %}