{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome to TaskPlanner</h1>
<p><strong>TaskPlanner is a task management application allowing a manager to follow and manage the work of his collaborators.
</strong></p>
<h1>Advantage of Taskplanner</h1>
    <h2>Boosts Productivity</h2>
        
{% endblock %}