{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

{{form(form)}}

{% if tasks | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>

            {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
                 
                 {% for task in tasks %}
                  <article>

                 
  
      
                      {% endfor %}
               {% endif %}


{% endblock %}
